---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/grafana.integreatly.org/grafana_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    grafana.internal/instance: grafana
spec:
  config:
    analytics:
      check_for_updates: "false"
      check_for_plugin_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"
    auth:
      disable_login_form: "false"
      oauth_auto_login: "true"
      oauth_allow_insecure_email_lookup: "true"
    auth.generic_oauth:
      enabled: "true"
      name: Authelia
      icon: signin
      scopes: openid profile email groups
      empty_scopes: "false"
      login_attribute_path: preferred_username
      groups_attribute_path: groups
      name_attribute_path: name
      use_pkce: "true"
      api_url: "https://auth.${SECRET_DOMAIN}/api/oidc/userinfo"
      auth_url: "https://auth.${SECRET_DOMAIN}/api/oidc/authorization"
      client_id: grafana
      token_url: "https://auth.${SECRET_DOMAIN}/api/oidc/token"
    auth.generic_oauth.group_mapping:
      org_id: "1"
      role_attribute_path: contains(groups[*], 'admins') && 'Admin' || 'Viewer'
    auth.basic:
      enabled: "false"
    auth.anonymous:
      enabled: "false"
    log:
      mode: console
    metrics:
      enabled: "true"
    news:
      news_feed_enabled: "false"
    plugins:
      plugin_admin_enabled: "false"
    security:
      angular_support_enabled: "true"
    server:
      enable_gzip: "true"
      root_url: "https://grafana.${SECRET_DOMAIN}"
  deployment:
    spec:
      strategy:
        type: Recreate
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: grafana-secret
                      key: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities: { drop: ["ALL"] }
          securityContext:
            runAsNonRoot: true
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
          volumes:
            - name: grafana-data
              persistentVolumeClaim:
                claimName: grafana-pvc
  ingress:
    spec:
      ingressClassName: internal
      rules:
        - host: "grafana.${SECRET_DOMAIN}"
          http:
            paths:
              - backend:
                  service:
                    name: grafana-service
                    port:
                      number: 3000
                path: /
                pathType: Prefix
  persistentVolumeClaim:
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 10Gi
      storageClassName: ceph-block
  disableDefaultSecurityContext: All
