#!bash
# `set -a` will export all variables that are sourced
set -a

# Call the secrets file
. ./.secrets

## Return set to the default: `set +a`
set +a

export ANSIBLE_CONFIG=$(expand_path ./ansible.cfg)
export ANSIBLE_HOST_KEY_CHECKING="False"
export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/keys.txt)

export PROXMOX_IP="192.168.10.10"
export PROXMOX_USERNAME="terraform@pve"
export PROXMOX_NODE_NAME="server"

# Packer variables
export PKR_VAR_proxmox_ip=$PROXMOX_IP
export PKR_VAR_proxmox_username=$PROXMOX_USERNAME
export PKR_VAR_proxmox_password=$PROXMOX_PASSWORD
export PKR_VAR_proxmox_node=$PROXMOX_NODE_NAME
export PKR_VAR_domain=$DOMAIN

# Terraform variables
export TF_VAR_proxmox_ip=$PROXMOX_IP
export TF_VAR_proxmox_username=$PROXMOX_USERNAME
export TF_VAR_proxmox_password=$PROXMOX_PASSWORD
export TF_VAR_proxmox_node=$PROXMOX_NODE_NAME
export TF_VAR_nas_ip_address="192.168.20.10"
