PROXMOX_PASSWORD="PASSWORD"
DOMAIN="example.com"
CF_API_TOKEN="abc123"
MQTT_USERNAME="user"
MQTT_PASSWORD="password"
EMQX_ADMIN_PASSWORD="password"
EMQX_USER1_USERNAME="user"
EMQX_USER1_PASSWORD="password"
OPENVPN_USERNAME="username"
OPENVPN_PASSWORD="password"
OPENVPN_PROVIDER="providername"
OPENVPN_CONFIG="config"
PLEX_CLAIM_TOKEN="token"
