apiVersion: v1
kind: Secret
metadata:
    name: glauth-secret
# Create passbcrypt:
#   "https://gchq.github.io/CyberChef/#recipe=Bcrypt(12)To_Hex('None',0)"
# or
#   htpasswd -bnBC 10 "" YOUR_PASSWORD | tr -d ':\n' | od -A n -t x1 | sed 's/ *//g' | tr -d '\n'
stringData:
    server.toml: ENC[AES256_GCM,data:3CN8EmZVgVVygDovGbXBBuUjMqY2Jiw696NqqAgH4Gpp134NbFcOkfTLw7zqAMwrKSqQRQlHPeDrJEYl2jPrTw34ABj10HyQDtdvUXtXN87o4VCAs6774IzpeIcBeKWpcA6fEWsHJ0Rqc7zi8TJ556o21lRuyX8Cs5VIQ8BzoRvL9lVAxqgEwsv3UBgxkXLcFt6nf6MZLgFc0ufTEkw9t+XVYw8sF9gcqWoc4DsxV1dZYV3Tbo5WbU1bp/Yw1/eCKJDyAz8QQWrVfp4ZQXO53pDWDKa5oCwPkMKSUdNfw772jb43EQTS+oWDcg==,iv:5QTLZuvyiEheUWwZZqVJ+qUdOW//fVt6uU+g7osDp0g=,tag:MsZtIFrCVLrxFLSbwEOA3w==,type:str]
    groups.toml: ENC[AES256_GCM,data:25McwpHc+gtPXxt16XvaVz9zKgmgqIWtvEUnGqtOQDAAzQtsZ3ugH9P9yO//61flWRFB3SmZQFQ7R8CFWzF+wZ1f9OuS27yUwT3MA3Szt6sXsdKybypr7Sp3aVdqWd2bi4sUAenk5m2kXrhNSm2/mbgYuWCgWwa7BF2oj/F5C/rGZ7dD/qvJVPQj9LTf60yO0c0=,iv:lvdENa9XEtdG8VWXeg99EnFiqtd/HA7U5SAxhtxUPl8=,tag:DX0oHiUlbhgEdG+BUDoF7Q==,type:str]
    users.toml: ENC[AES256_GCM,data:7BFx70fxWHKHTSn1Ic4/gmvzBvyJGpFv/h5gtaK2cV05D5Kuq59HKPtBxiOOD8mDr1DFYoenY5tXoWC3y7eKY8ncpoL5/cOXgQViecXPe6rblK+/2ZjQWiQBnYp0Yin9sSn8qSXS5dyFGWu7s/akcRnxTWv4AQ9I7Vue/Q+ElgjxTHPDVucbJLAuqdDcfxNquzTPcD89KIziKlMtTasWpjgCiJ5JdJZhIdeasW1uTwsdLooY1bn2+2B7Nc7OBizXmjok8Bb5uEVmE4rSxbzX3dM+m/EPPu/APVJb8CQu5oU6fdZq3eFd4fj0yqB0vYWkg9m2M2r7g0FbU721Jg428USDFvHbfusnlBqQgNY3rAQ8ZQDwEVXGIkTmg5F27WjTMdzbDfTEJ1jiutVeVR8ce1JBJRqFaRz4TLCnAMTqZdDwO3onj9mlPK8rI5cISEAz87kiJ665YkFK2PMMrmp0g/mnoSfelwW5EpH08QRL7l6PjVaH33eMMsPlx1+kda9qZJ+DtKrQy09/dcrJV2LyvhrInbCwYPwDJkzqbWUY5mxU2nEqrUvzjyEmZvgE8FYbB9NPdb4eFLBZIrAhLtSyMx2mnvHn1whQrwE/5K0BapkD156aN8LeM9f+GZPA2sv+w9vrVIEdPTQDD7fLIVgeTW4ErAUI6JHJrI3fmCUQkwG0oQm0gDflD/yabkxtfSKQH8QMZrXRP8bDUZjPmRXWY193Ico155Eiuldt4DmzPiEgVV1k,iv:TKmUj9IXDODw656W6sk6glci4CMwFObMJIS1i3fSjxA=,tag:CzKYFNBHxXa+3nQE2OFuYA==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1nzr5yww67m24y5ecsrz5wte3whjtjqfj0dgfzjtq996k3kvdav3qrlruy3
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3cG11QUh2Tm5YK3h4RVFV
            dmRSRm51NERMekdZRHpUUU1WOXdmWTF5OURZCmNnTTJoWFhiRGhzNVJ0STFQSmtJ
            T0U4SXI4MzNvTHhrcGFib2ZIb0FTTG8KLS0tIGlHQ1JoWkR4ZUFSbkNzWUJ6cU9u
            VkY5ckZORTNpYm1XTjBlZzhabHEycFEKzEgFOVT1JH46yHOpBgIv92PqcF8JVzxf
            oo5xAavZtaY61oOFbPTnaiha0lfe8X15iAE+vRHeG6zE1LKydxb1Zw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-24T03:06:31Z"
    mac: ENC[AES256_GCM,data:A2p4s8a2R9IO8L2w8UW5mTj52X4xn/QZzLN4V2bt9flS2ZGd2giHRfd5L2jrjuZrZr2GFZ9Gl5X/VfJHy+hhGl6xLV1Hvw+8YuUysYlmeeuFlGuOYlXUmzUIb/Nq0HNmKQCHJOZhSNNHKiSFBP6+eYwdgTSAKkqVlc5mk5B2cIk=,iv:2pHwnrP2G9yzR09GvsPIj/u1JUSH7iUA+BA2sAqOvCM=,tag:Sm8ovsa0lN9HcA95WOfVig==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
